<main>
  <section class="py-4 text-center container">
    <div class="row py-lg-4">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">البطاقة المهنية</h1>
        <p class="lead text-muted">
          تمكن البطاقة المهنية لمنتسبي الغرفة من تسهيل تواصلهم مع بعض المصالح
          الخارجية (القنصليات، الأبناك…) للحصول على البطاقة المهنية، يجب تعبأت
          الاستمارة اسفله.
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <app-add-person></app-add-person>
    </div>
  </div>
</main>
